h1 {
  color: #1e1e1e;
}
body {
  margin: auto;
  background: #f2f2f2;
  color: #1e1e1e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  max-width: 90%;
}

img {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  h1 {
    color: #ebebeb;
  }

  body {
    background: #1e1e1e;
    color: #f2f2f2;
  }

  a {
    color: orange;
    border-bottom: 1px solid orange;
    text-decoration: none;
  }

  a:hover {
    color: rgb(202, 137, 17);
    border-bottom: 0;
  }
}
